<h1>
  {{title}} {{app_name}}
  <br> <button type="button" (click)="testCkick()" (dblclick)="testDblCkick()"> Click me! </button>
  <br> <input (keyup)="onKeyUp()" (keydown)="onKeyDown($event)" *ngIf="showInput">
  <br>
  <div *ngFor="let text of name_title">
    {{text}}
  </div>
  <br>
  <div *ngFor="let text of coffee">
    <small class="test-css"> {{text.id}} {{text.name}} </small>
  </div>
  <br>
</h1>